<header class="header">
  <section>
    <% if user_signed_in? %>
      <% if current_page? edit_user_registration_path %>
        <%= link_to :back do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? destroy_user_session_path %>
      <% elsif current_page? user_path(current_user.id) %>
        <%= link_to :back do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? user_groups_path %>
        <button type="button" class="hamburger-button">
          <%= fa_icon "bars", class: "hamburger" %>
        </button>
      <% elsif current_page? new_user_group_path %>
        <%= link_to user_groups_path do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? user_group_entities_path %>
        <%= link_to user_groups_path do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? recent_expenses_path %>
        <%= link_to user_groups_path do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? ancient_expenses_path %>
        <%= link_to user_groups_path do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% elsif current_page? expensive_expenses_path %>
        <%= link_to user_groups_path do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% else %>
        <%= link_to :back do %>
          <%= fa_icon "chevron-left" %>
        <% end %>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
      <%= link_to root_path do %>
        <%= fa_icon "chevron-left" %>
      <% end %>
    <% end %>
  </section>
  <p class="page-title">
    <% if current_page? new_user_session_path %>
      LOGIN
    <% elsif current_page? new_user_registration_path %>
      REGISTER
    <% elsif current_page? edit_user_registration_path %>
      EDIT PROFILE
    <% elsif current_page? user_path(current_user.id) %>
      PROFILE
    <% elsif current_page? user_groups_path %>
      GROUPS
    <% elsif current_page? new_user_group_path %>
      ADD GROUP
    <% elsif current_page? user_group_entities_path %>
      EXPENSES
    <% elsif current_page? recent_expenses_path %>
      EXPENSES
    <% elsif current_page? ancient_expenses_path %>
      EXPENSES
    <% elsif current_page? expensive_expenses_path %>
      EXPENSES
    <% elsif current_page? new_user_group_entity_path %>
      ADD EXPENSE
    <% end %>
  </p>
  <section>
    <% if current_page? new_user_session_path %>
      <button type="submit" form="new_user" value="Log In">Log In</button>
    <% elsif current_page? new_user_registration_path %>
      <button type="submit" form="new_user" value="Next">Next</button>
    <% elsif current_page? edit_user_registration_path %>
    <% elsif current_page? user_path(current_user.id) %>
      <%= link_to edit_user_registration_path do %>
        <%= fa_icon "pencil" %>
      <% end %>
    <% elsif current_page? user_groups_path %>
      <%= fa_icon "search", class: "pointer" %>
    <% end %>
  </section>
  <% if user_signed_in? %>
    <nav class="nav-bar">
      <button type="button" class="hamburger-closer">
        <%= fa_icon "times" %>
      </button>
      <ul class="nav-bar-list">
        <li>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "logout-button nav-bar-item" %>
        </li>
        <li><%= link_to "Profile", user_path(current_user.id), class: "nav-bar-item" %></li>
        <li><%= link_to "Home", user_groups_path(user_id: current_user.id), class: "nav-bar-item" %></li>
      </ul>
    <nav>
  <% end %>
</header>
