<section class="groups-index-page">
  <section class= "groups-container">
    <%= @groups.each do |group| %>
      <%= link_to user_group_path(id: group.id), class: "user-group" do %>
        <%= group.name %>
        <%= image_tag group.icon %>
      <% end %>
    <% end %>
  </section>
  <%= link_to "Add new group", new_user_group_path, class: "add-group-button" %>
</section>
